/* footer.sticky-footer.bg-info{
    width:1800px;
    clear: both;
    text-align: center;
    height: 100px;
}

nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top{
    width: 1150px;
    width: 100%;

} */